   body{
  margin:0;
  padding:0;
  font-family: 'M PLUS 1p', 'Montserrat', sans-serif;
  width:100vw;
  background-color:#fff;
}

/*----font----*/
h1 {
  margin:0;
  font-size: 8vw;
  text-align: center;
  font-weight: 800;
}

h2 {
  margin:0;
  font-size: 6vw;
  text-align: left;
  font-weight: 800;
}

h3 {
  margin:0;
  font-size: 4vw;
  text-align: center;
  font-weight: 800;
}

h5{
  margin:0;
  padding-left:8vw;
  font-size:2.5vw;
  font-weight:800;
}

h6{
  margin:0;
  font-size: 1.5vw;
  font-weight: 800;
  color: #fff;
}

txt1{
  overflow:auto;
  margin:0;
  padding:0;
  font-size: 2vw;
  font-weight:600;
}

txt2{
  margin:0;
  padding:0;
  font-size:2vw;
  font-weight:600;
}

ul {
  margin:0;
  padding:0;
  font-size: 2vw;
}

li a{
  color:#036eb7;
  font-size:2vw;
  font-weight:800;
}
/*----color----*/
sky-blu{
  color: #036eb7;
}

.toku{
  font-size:5vw;
}

grn{
  color:#04b8a6;
}

red{
  color:#f00;
}

blu{
  color:#00f;
}

whi{
  color:#fff;
}
/*---buttom---*/
.btn{
  position: relative;
  text-decoration: none;
	display: inline-block;
	background:#04b8a6;
	color:#fff;
  padding: 10px 40px 10px 30px;
  border-radius:25px;
  text-align: center;
  outline: none;
  transition: ease .2s;
  font-size: 2.3vw;
  font-weight: 600;
  color: #fff;
}
  .item:nth-child(2){
    animation-delay: 4s;
  }
   
  .item:last-child{
    animation-delay: 8s;
  }



.sec2{
  margin:0;
  padding:0;
  height:auto;
  width:100vw;
  background-color:#fff;
}

.sec2-a{
  text-align:center;
}

.sec2-left{
  height:auto;
  width:70vw;
}

.sec2-right{
  height:auto;
  width:35vw;
}

.sec3{
  margin:0;
  padding:0;
  height:auto;
  width:100vw;
  background-color:#ccc;
}

.sec4{
  margin:0;
  padding:0;
  height:auto;
  width:100vw;
  background-color:#fff;
}

.sec4-left{
  padding:0 5vw 5vw 0;
  height:auto;
  width:45vw;
}

.sec4-right{
  padding:0 0 5vw 5vw;
  height:auto;
  width:45vw;
}

.sec5{
  margin:0;
  padding:0;
  height:auto;
  width:100vw;
  background-color:#ccc;
}

footer{
  margin:0;
  padding:0;
  height:auto;
  width:100vw;
  background-color:#2857b1;
}

