@charset "utf-8";

/*---------- 文字 ---------- */
body {
  font-family: 'M PLUS 1p', 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

body.appear{
    background:#fbfbfb;
}

*{box-sizing: border-box;}

h1 {
  margin: 0 0 0 0;
  position: relative;
  font-size: 6vw;
  text-align: center;
  font-weight: 800;
  color: #2857b1;
}

h2 {
  margin: 0 0 0 0;
  position: relative;
  font-size: 5vw;
  text-align: left;
  font-weight: 800;
  color: #2857b1;
}

h3 {
  margin: 0 0 0 0;
  position: relative;
  font-size: 1.5vw;
  text-align: center;
  font-weight: 800;
  color: #fff;
}

h4 {
  margin: 0 0 0 0;
  position: relative;
  font-size: 4vw;
  text-align: center;
  font-weight: 800;
  color: #2857b1;
}

BL {
  margin: 0 0 0 0;
  position: relative;
  font-size: 4vw;
  text-align: center;
  font-weight: 800;
  color: #000;
}

SAT {
  margin: 0 0 0 0;
  position: relative;
  font-size: 4vw;
  text-align: center;
  font-weight: 800;
  color: #0000ff;
}

SUN {
  margin: 0 0 0 0;
  position: relative;
  font-size: 4vw;
  text-align: center;
  font-weight: 800;
  color: #ff0000;
}

h5 {
  margin: 0 0 0 0;
  position: relative;
  font-size: 4vw;
  text-align: left;
  font-weight: 800;
  color: #00a7eb;
}

ul{
	margin:0;
	padding: 0;
}

a{
  color: #000;
	text-decoration: none;
  outline: none;
}

txt1 {
  margin: 0 0 0 0;
  position: relative;
  font-size: 2vw;
  font-weight: 500;
  color: #000;
}

txt2 {
  margin: 0 0 0 0;
  position: relative;
  font-size: 2.3vw;
  font-weight: 700;
  color: #000;
}

te1 {
  font-size: 2.3vw;
  font-weight: 700;
  color: #000;
}

te2 {
  font-size: 2vw;
  font-weight: 500;
  color: #000;
}

te3 {
  font-size: 1.5vw;
  font-weight: 500;
  color: #fff;
}

/*---------- ヘッダー ---------- */
#header{
  background:#fff;
}

#header h1{
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  position: absolute;
  top: 25px;
  left:50%;
  transform: translateX(-50%);
  color:#2857b1;
}

#g-nav ul{
  display: flex;
  padding: 0 0 0 5%;
  list-style: none;
}

#g-nav ul li{
  letter-spacing: 0.1em;
  white-space: nowrap;
}

#g-nav ul li:last-child{
  display: none;   
}

#g-nav ul li a{
  display: block;
  padding:6px 15px;
}

@media screen and (max-width:1300px) {
#g-nav ul{
  display: block;
  padding: 0;
}
   
#g-nav ul li a{
  padding:6px 15px;
}
}

#header ul#utility-navi{
  position: fixed;
  top:0;
  right:0;
  z-index: 999;
  display: flex;
  font-size: 0.8rem;
  list-style: none;
}

#header ul#utility-navi li{
  text-align: center;
}

#header ul#utility-navi li span{
  display: block;
}

#header ul#utility-navi li a{
  color: #fff;
  padding: 15px 0;
  display: block;
  width:100px;
  transition: all .5s;
}

#header ul#utility-navi li img{ 
  width:35%;
}  

#header ul#utility-navi li:first-child a{
  background:#00a7eb;
}

#header ul#utility-navi li:first-child a:hover{
  background:#00a7eb;
  opacity: 0.7;
}

#header ul#utility-navi li:last-child a{
  background:#2857b1;
}

#header ul#utility-navi li:last-child a:hover{
  background:#2857b1;
  opacity: 0.7;
}

@media screen and (max-width:768px) {
#header h1{
  top:9px;
  transform: translateX(-70%);
}

#header ul#utility-navi li span{
  display:none;
}

#header ul#utility-navi li a{
  width: 70px;
  height: 70px;
  padding: 0;
}
    
#header ul#utility-navi li img {
  width: 45%;
  margin: 17px 0 0 0px;
}
}

@media screen and (max-width:530px) {
#header h1{
  font-size: 1.3rem;
  top:14px;
  transform: translateX(-50%);
}
    
#g-nav ul li:last-child{
  display: block;   
}
    
#header ul#utility-navi li:first-child{
  display: none;    
}

#header ul#utility-navi li:last-child a{
  background:#2857b1;
}

#header ul#utility-navi li:last-child a:hover{
  background:#2857b1;
  opacity: 0.7; 
}
}

#header{
  position: fixed;
	width:100%;
  height: 94px;
  z-index: 99;
  display: flex;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width:768px) {
#header{
  height:70px;    
} 
}

#header.UpMove{
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime{
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100px);
  }
}

#header.DownMove{
  animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime{
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width:1300px) {
  #g-nav.panelactive{
    position:fixed;
    z-index: 999;
    top: 0;
    width:100%;
    height: 100vh;
  }

  .circle-bg{
    position: fixed;
    z-index:3;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #00a7eb;
    transform: scale(0);
    right:-50px;
    bottom:-50px;
    transition: all .6s;
  }

.circle-bg.circleactive{
  transform: scale(50);
  }

#g-nav-list{
  display: none;
  position: fixed;
  z-index: 999; 
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#g-nav.panelactive #g-nav-list{
  display: block;
  }

#g-nav ul {
  opacity: 0;
  position: absolute;
  z-index: 999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

#g-nav.panelactive ul {
  opacity:1;
}

#g-nav.panelactive ul li{
  animation-name:gnaviAnime;
  animation-duration:1s;
  animation-delay:.2s;
  animation-fill-mode:forwards;
  opacity:0;
}


#g-nav li{
  text-align: center; 
	list-style: none;
  margin: 0 0 10px 0;
}

#g-nav li a{
  color: #fff;
	text-decoration: none;
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
} 
}

@keyframes gnaviAnime{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
}
}

.openbtn{
  display: none;
}

@media screen and (max-width:1300px) {
  .openbtn{
    display: block;
    position:fixed;
    top:0;
    left:0;
    z-index: 9999;
    cursor: pointer;
    width: 94px;
    height:94px;
    background:#fff000;
  }
  
  .openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 23px;
    height: 3px;
    border-radius: 2px;
    background-color: #000;
  	width: 45%;
  }
  
  .openbtn span:nth-of-type(1) {
    top:33px;	
  }
  
  .openbtn span:nth-of-type(2) {
    top:46px;
  }
  
  .openbtn span:nth-of-type(3) {
	top:58px;
}

.openbtn.active span:nth-of-type(1) {
    top: 41px;
    left: 28px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 52px;
    left: 28px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}
}

@media screen and (max-width:768px) {
    .openbtn{
        width:70px;
        height: 70px;
    }
  
  .openbtn span{
    left: 17px;
  }
  
  .openbtn span:nth-of-type(1) {
    top:20px;	
  }
  
  .openbtn span:nth-of-type(2) {
    top:33px;
  }
  
  .openbtn span:nth-of-type(3) {
    top:45px;
  }
  
  .openbtn.active span:nth-of-type(1) {
    top: 28px;
    left: 22px;
  }
  
  .openbtn.active span:nth-of-type(3){
    top: 40px;
    left: 22px;
  }
}

/*---------- 枠線 ---------- */
.nav05b li{
  position: relative;
  margin: 0 5px;
}

.nav05b li::before,
.nav05b li::after{
  content:"";
  position: absolute;
  width: 0;
  height:2px;
  background:#00a7eb;
  transition: all 0.2s linear;
  transition-delay: 0.2s;
}

@media screen and (max-width:1300px) {
  .nav05b li::before,
  .nav05b li::after{
    background:#fff;
  }
}

.nav05b li::before{
  right: 0;
  top: 0;
}

.nav05b li::after{
  left: 0;
  bottom: 0;
}

.nav05b li span{
  display: block;
}

.nav05b li span::before,
.nav05b li span::after{
  content:"";
  position: absolute;
  width:1px;
  height:0;
  background: #00a7eb;
  transition: all 0.2s linear;
}

.nav05b li span::before{
  left: 0;
  top: 0;
}
.nav05b li span::after{
  right: 0;
  bottom: 0;
}

.nav05b li.current::before,
.nav05b li.current::after,
.nav05b li:hover::before,
.nav05b li:hover::after{
  width: 100%;
}

.nav05b li.current span::before,
.nav05b li.current span::after,
.nav05b li:hover span::before,
.nav05b li:hover span::after{
  height: 100%;
}

/*---------- セクション ---------- */
.sec02 {
  margin: 0 0 0 0;
	height: auto;
	background-color: #dcdcdc;
}

.sec04 {
  margin: 0 0 0 0;
	height: auto;
	background-color: #2857b1;
}

/*---------- フッター リンク ---------- */
.op a:hover{
	color: #fff;
	opacity: 0.5;
}

.twitter a::before{
  content: '';
  display: inline-block;
  width: 2.5vw;
  height: 2.5vw;
  background-image: url(https://tcut-sci-tech.github.io/photo/Logo%20twitter.png);  
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 1vw;
}

.tcu a::before{
  content: '';
  display: inline-block;
  width: 2.5vw;
  height: 2.5vw;
  background-image: url(https://tcut-sci-tech.github.io/photo/Logo%20tcu.png);  
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 1vw;
}

.sci a::before{
  content: '';
  display: inline-block;
  width: 2.5vw;
  height: 2.5vw;
  background-image: url(https://tcut-sci-tech.github.io/photo/Logo%20sci.png);  
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 1vw;
}

/*---------- 画面分割 ---------- */
.flex_div {
  display: flex;
  justify-content: center;
}

.a_div {
  display: inline-block;
  width: 5%;
  padding:0vw;
  margin: 0vw 0vw 0vw 0vw;
}

.a_div img {
  display: inline-block;
	width: 100%;
	height: auto;
}

.b_div {
  display: inline-block;
  width: 90%;
  padding:0vw;
  margin: 0vw 0vw 0vw 0vw;
}

.b_div img {
  display: inline-block;
	width: 100%;
	height: auto;
}

.c_div {
  display: inline-block;
  width: 50%;
  padding:0vw;
  margin: 0vw 1vw 0vw 1vw;
}

.c_div img {
  display: inline-block;
	width: 100%;
	height: auto;
}

.d_div {
  display: inline-block;
  width: 40%;
  padding:0vw;
  margin: 0vw 1vw 0vw 1vw;
}

.d_div img {
  display: inline-block;
	width: 100%;
	height: auto;
}

.e_div {
  display: inline-block;
  width: 70%;
  padding:0vw;
  margin: 0vw 1vw 0vw 1vw;
}

.e_div img {
  display: inline-block;
	width: 100%;
	height: auto;
}
